<h1>Blog_edit</h1>

<%=form_tag '/blog_update', method: 'post' do %>
    <div class = "form-group">
        <input type="hidden" name="id" value="<%=@blog.id%>">
        <textarea name="naeyong" class="form-control" rows="3"><%=@blog.content%></textarea><br/>
    </div>
    <div class = "form-group">
        <a href="/" class="btn btn-success" style='float: right;'>취소</a>
        <input type="submit" class="btn btn-success" style='float: right;'>
    </div>
<% end %>