<h1>Comment_edit</h1>

<%=form_tag '/comment_update', method: 'post' do %>
    <div class = "form-group">
        <input type="hidden" name="id" value="<%=@comm.id%>">
        <input type="text" name="comment" value="<%=@comm.msg%>" class="form-control" rows="1">
    </div>
    <div class = "form-group">
        <a href="/" class="btn btn-success" style='float: right;'>취소</a>
        <input type="submit" class="btn btn-success" style='float: right;'>
    </div>
<% end %>