<head>

    <!-- Custom CSS -->
    <link href="cover.css" rel="stylesheet">

</head>

<body>


    <div class="cover"></div>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 style="color: black; font-size: 45px;">당신이 궁금해하던 이성의 모든 것</h1>
            <h3 style="line-height: 35px; color: black">늑대와 여우는 서로 다른 생각을 가진 이성들과 <br>익명으로 진솔한 이야기를 나누는 새로운 익명 SNS입니다 </h3>
            <br>    
            <a href="/users/sign_in" class="btn btn-dark btn-lg">지금 시작하기</a>

        </div>
    </header>

</body>
<script>
$(document).ready(function() {
    setHeaderSize();
    $(window).resize(function() {
        setHeaderSize();
    });

    function setHeaderSize() {
        $('.header').height($(window).height() - $('.navbar').height());
    }
});
</script>